@model IEnumerable<Ventas.Web.Models.Negocio.BaseNegocioModel>

@{
    ViewData["Title"] = "Index";
}

<div class="row pt-4">
    <div class="col-9">
        <h1>Negocio Http</h1>
    </div>
    <div class="col-2">
        <br/>
        <a class="btn btn-primary" asp-action="Create">Nuevo Negocio</a>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.urlLogo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombreLogo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.numeroDocumento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.porcentajeImpuesto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.simboloMoneda)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.urlLogo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nombreLogo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.numeroDocumento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.correo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.porcentajeImpuesto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.simboloMoneda)
                </td>

                <td class="d-grid gap-2">
                    @Html.ActionLink("Editar", "Edit", new { id=item.idNegocio }, new { @class = "btn btn-warning" })
                    @Html.ActionLink("Detalle", "Details", new { id=item.idNegocio }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Eliminar", "Delete", new { id=item.idNegocio }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
