@model IEnumerable<Ventas.Web.Models.Usuario.BaseUsuarioModel>

@{
    ViewData["Title"] = "Index";
}

<div class="row pt-4">
    <div class="col-9">
        <h1>Usuarios Http</h1>
    </div>
    <div class="col-2">
        <br />
        <a class="btn btn-primary" asp-action="Create">Nuevo Usuario</a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clave)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EsActivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clave)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EsActivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRegistro)
            </td>
            <td class="d-grid gap-2">
                @Html.ActionLink("Editar", "Edit", new { id=item.IdUsuario }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Detalle", "Details", new { id=item.IdUsuario }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Eliminar", "Delete", new { id=item.IdUsuario }, new { @class = "btn btn-danger" })
            </td>
        </tr>
}
    </tbody>
</table>
